/* QuoteFetcher.module.css */

.quoteFetcher {
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
    /* border: 1px solid gray; */
}

.flexRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonA {
    height: 40px;
    width: 180px;
}

.checkbox {
    height: 24px;
    width: 24px;
}

